Repository codestates-seb/seb39_main_005, pull requests merged in 2022-10, with the labels that each got.

#143 [BE] feat: Apply CRUD + validation
  server/src/main/java/com/codestates/team5/dailyclub/apply/controller/ApplyController.java
  server/src/main/java/com/codestates/team5/dailyclub/apply/dto/ApplyDto.java
  server/src/main/java/com/codestates/team5/dailyclub/apply/repository/ApplyRepository.java
  server/src/main/java/com/codestates/team5/dailyclub/apply/service/ApplyService.java
  server/src/main/java/com/codestates/team5/dailyclub/throwable/entity/ExceptionCode.java
  server/src/main/resources/errors.properties
Labels: BE, feat, 핵심 기능, 중요도 : 상, [Apply]

#145 [BE] fix : Add user image registration
  server/src/main/java/com/codestates/team5/dailyclub/common/mapper/CommonMapper.java
  server/src/main/java/com/codestates/team5/dailyclub/image/dto/UserImageDto.java
  server/src/main/java/com/codestates/team5/dailyclub/image/entity/UserImage.java
  server/src/main/java/com/codestates/team5/dailyclub/image/mapper/UserImageMapper.java
  server/src/main/java/com/codestates/team5/dailyclub/image/repository/UserImageRepository.java
  server/src/main/java/com/codestates/team5/dailyclub/image/util/ImageUtils.java
  server/src/main/java/com/codestates/team5/dailyclub/throwable/entity/ExceptionCode.java
  server/src/main/java/com/codestates/team5/dailyclub/user/controller/UserController.java
  server/src/main/java/com/codestates/team5/dailyclub/user/dto/UserDto.java
  server/src/main/java/com/codestates/team5/dailyclub/user/entity/User.java
  server/src/main/java/com/codestates/team5/dailyclub/user/service/UserService.java
Labels: BE, 중요도 : 상, Image

#144 [BE] feat: Bookmark CRUD + validation
  server/src/main/java/com/codestates/team5/dailyclub/bookmark/controller/BookmarkController.java
  server/src/main/java/com/codestates/team5/dailyclub/bookmark/dto/BookmarkDto.java
  server/src/main/java/com/codestates/team5/dailyclub/bookmark/entity/Bookmark.java
  server/src/main/java/com/codestates/team5/dailyclub/bookmark/mapper/BookmarkMapper.java
  server/src/main/java/com/codestates/team5/dailyclub/bookmark/repository/BookmarkRepository.java
  server/src/main/java/com/codestates/team5/dailyclub/bookmark/service/BookmarkService.java
Labels: BE, feat, [Bookmark], 핵심 기능, 중요도 : 상

#146 [BE] feat: program validation
  server/src/main/java/com/codestates/team5/dailyclub/jwt/AuthDetails.java
  server/src/main/java/com/codestates/team5/dailyclub/program/controller/ProgramController.java
  server/src/main/java/com/codestates/team5/dailyclub/program/dto/ProgramDto.java
  server/src/main/java/com/codestates/team5/dailyclub/program/repository/ProgramRepository.java
  server/src/main/java/com/codestates/team5/dailyclub/program/service/ProgramService.java
Labels: BE, feat, [Program], 핵심 기능, 중요도 : 상

#147 [FE] fix: reload Apply List
  client/src/App.tsx
  client/src/components/ApplyModal.tsx
  client/src/components/CancelModal.tsx
  client/src/components/DeleteModal.tsx
  client/src/pages/ProgDetail.tsx
Labels: FE, 중요도 : 하, [Apply], api

#148 [FE] feat: new access토큰으로 교체, 회원조회 api 수정, theme 파일분리
  client/src/App.tsx
  client/src/apis/api.ts
  client/src/apis/axiosConfig.ts
  client/src/components/AreaFilter.tsx
  client/src/components/Header.tsx
  client/src/pages/Login.tsx
  client/src/pages/Main.tsx
  client/src/stores/userInfoSlice.ts
  client/src/theme.ts
  client/src/utils/CheckJwtExp.ts
  client/src/utils/parseJwt.ts
Labels: FE, feat, [User], 중요도 : 상, api

#149 [Fe] feat update user
  client/src/App.tsx
  client/src/components/CancelModal.tsx
  client/src/components/Header.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ProgCreate.tsx
  client/src/pages/ProgDetail.tsx
  client/src/pages/ProgUpdate.tsx
  client/src/types/user.tsx
Labels: FE, feat, [User], 핵심 기능, 중요도 : 상, api

#150 [FE] feat: 마감 filter, AreaFilter수정, Bookmark 등록/수정 틀, ProgressBar 에러 수정
  client/src/components/AreaFilter.tsx
  client/src/components/ProgressBar.tsx
  client/src/images/Bookmark.svg
  client/src/images/Bookmarked.svg
  client/src/pages/Main.tsx
  client/src/stores/store.ts
Labels: FE, feat, 중요도 : 상, api

#151 [FE] feat: heropage
  client/src/App.tsx
  client/src/components/DeleteModal.tsx
  client/src/images/BannerImg.svg
  client/src/images/IntroImg1.svg
  client/src/images/IntroImg2.svg
  client/src/images/IntroImg3.svg
  client/src/pages/Hero.tsx
Labels: UI, feat, 중요도 : 중, UX

#153 [FE] feat: mypage program list 조회
  client/src/pages/MyPage.tsx
Labels: FE, feat, [User], [Program], MyPage, [Apply]

#156 [FE] feat:
  client/src/components/BookMarkTab.tsx
  client/src/components/Header.tsx
  client/src/components/Tab/BookMarkTab.tsx
  client/src/pages/Main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ProgCreate.tsx
  client/src/pages/ProgDetail.tsx
  client/src/types/user.tsx
  client/src/utils/byteToBase64.ts
  client/src/utils/compareWithToday.ts
  client/src/utils/getToday.ts
Labels: FE, feat, [Bookmark], 중요도 : 상, api

#157 [FE] feat: validation check
  client/src/components/ApplyModal.tsx
  client/src/components/CancelModal.tsx
  client/src/components/DeleteModal.tsx
  client/src/pages/Login.tsx
  client/src/pages/ProgCreate.tsx
  client/src/pages/ProgDetail.tsx
  client/src/pages/ProgUpdate.tsx
Labels: FE, feat, 부가 기능, 중요도 : 중, Validation

#158 [BE] fix: handle NPE when user logged in or not
  server/src/main/java/com/codestates/team5/dailyclub/config/SecurityConfig.java
  server/src/main/java/com/codestates/team5/dailyclub/program/controller/ProgramController.java
  server/src/main/java/com/codestates/team5/dailyclub/program/service/ProgramService.java
  server/src/main/resources/errors.properties
Labels: bug, BE, 중요도 : 상, Login, error

#160 [BE] feat: create review + update Apply review status
  server/src/main/java/com/codestates/team5/dailyclub/apply/controller/ApplyController.java
  server/src/main/java/com/codestates/team5/dailyclub/apply/entity/Apply.java
  server/src/main/java/com/codestates/team5/dailyclub/apply/service/ApplyService.java
  server/src/main/java/com/codestates/team5/dailyclub/review/controller/ReviewController.java
  server/src/main/java/com/codestates/team5/dailyclub/review/dto/ReviewDto.java
  server/src/main/java/com/codestates/team5/dailyclub/review/service/ReviewService.java
  server/src/main/java/com/codestates/team5/dailyclub/throwable/entity/ExceptionCode.java
  server/src/main/java/com/codestates/team5/dailyclub/user/entity/User.java
Labels: BE, feat, 핵심 기능, 중요도 : 상, [Apply], Review

#159 [Fe] fix: programdetail page apply user img & user link
  client/src/pages/MyPage.tsx
  client/src/pages/ProgDetail.tsx
  client/src/types/programs.tsx
Labels: FE, UI, feat, 부가 기능, UX, Image

#166 [FE] feat: MyPage Review 버튼 활성화, 필터 params 수정, 헤더 수정
  client/src/App.tsx
  client/src/components/AreaFilter.tsx
  client/src/components/Header.tsx
  client/src/pages/Main.tsx
  client/src/pages/MyPage.tsx
  client/src/types/programs.tsx
Labels: FE, feat, MyPage, Review

#168 [BE] fix : userPost API and deleteUser
  server/src/main/java/com/codestates/team5/dailyclub/config/SwaggerConfig.java
  server/src/main/java/com/codestates/team5/dailyclub/user/controller/UserController.java
  server/src/main/java/com/codestates/team5/dailyclub/user/service/UserService.java
Labels: BE, feat, [User], 중요도 : 상, Login, api

#174 [FE] feat: Mypage Branch
  client/src/pages/MyPage.tsx
Labels: FE, feat, [User], MyPage

#175 [Fe] feat: validation check in client
  client/src/components/CancelModal.tsx
  client/src/pages/Login.tsx
  client/src/pages/Main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ProgCreate.tsx
  client/src/pages/ProgDetail.tsx
  client/src/pages/ProgUpdate.tsx
  client/src/pages/SignUp.tsx
Labels: FE, feat, 중요도 : 중, UX, Validation

#180 [BE] feat: add @Unique with validation for user join
  server/src/main/java/com/codestates/team5/dailyclub/program/dto/ProgramDto.java
  server/src/main/java/com/codestates/team5/dailyclub/user/repository/UserRepository.java
  server/src/main/java/com/codestates/team5/dailyclub/validator/annotation/Unique.java
  server/src/main/java/com/codestates/team5/dailyclub/validator/validator/UniqueValidator.java
  server/src/main/resources/errors.properties
Labels: BE, feat, [User], 중요도 : 중, SignUp, Validation

#181 [BE] feat: add numOfApplicants field to ProgramResponseDto for Main Page
  server/src/main/java/com/codestates/team5/dailyclub/apply/service/ApplyService.java
  server/src/main/java/com/codestates/team5/dailyclub/program/controller/ProgramController.java
Labels: BE, feat, [Program], 중요도 : 중, [Apply]

#182 [BE] chore: add String message to DELETE response body
  server/src/main/java/com/codestates/team5/dailyclub/apply/controller/ApplyController.java
  server/src/main/java/com/codestates/team5/dailyclub/bookmark/controller/BookmarkController.java
  server/src/main/java/com/codestates/team5/dailyclub/review/controller/ReviewController.java
Labels: BE, 부가 기능, 중요도 : 하, api

#185 [BE] chore: add responseStatus field to ApplyResponseDto
  server/src/main/java/com/codestates/team5/dailyclub/apply/dto/ApplyDto.java
  server/src/main/java/com/codestates/team5/dailyclub/apply/mapper/ApplyMapper.java
Labels: BE, 중요도 : 중, MyPage, api, Review

#186 [FE] feat: Review api, css 수정
  client/src/App.tsx
  client/src/components/CheckBox.tsx
  client/src/components/Header.tsx
  client/src/components/Tab/BookMarkTab.tsx
  client/src/pages/Login.tsx
  client/src/pages/Main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ProgCreate.tsx
  client/src/pages/ProgUpdate.tsx
  client/src/pages/ReviewCreate.tsx
  client/src/styles.tsx
Labels: FE, feat, 중요도 : 상, api, Review

#189 [BE] fix: add Validation and updateUser Methods and deleteUser ExceptionCode
  server/src/main/java/com/codestates/team5/dailyclub/image/entity/UserImage.java
  server/src/main/java/com/codestates/team5/dailyclub/message/entity/Message.java
  server/src/main/java/com/codestates/team5/dailyclub/notification/entity/Notification.java
  server/src/main/java/com/codestates/team5/dailyclub/throwable/entity/ExceptionCode.java
  server/src/main/java/com/codestates/team5/dailyclub/user/controller/UserController.java
  server/src/main/java/com/codestates/team5/dailyclub/user/dto/UserDto.java
  server/src/main/java/com/codestates/team5/dailyclub/user/entity/User.java
  server/src/main/java/com/codestates/team5/dailyclub/user/service/UserService.java
Labels: BE, 중요도 : 중, Login, Validation

#190 [BE] fix: login success and fail message and add logout
  server/src/main/java/com/codestates/team5/dailyclub/config/SecurityConfig.java
  server/src/main/java/com/codestates/team5/dailyclub/jwt/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/codestates/team5/dailyclub/user/controller/UserController.java
  server/src/main/java/com/codestates/team5/dailyclub/user/service/UserService.java
Labels: BE, 중요도 : 상, Login

#191 [FE] feat: Login, SignUp Validation, MyPage Logout 수정
  client/src/pages/Login.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/SignUp.tsx
Labels: FE, feat, Login, MyPage, SignUp, api, Validation

#193 [FE] fix: MainPage Applicants, chore: Pagination CSS
  client/src/pages/Main.tsx
  client/src/pagination/Pagination.tsx
Labels: FE, UI, [Program]

#194 [FE] Review 추가, dday 수정
  client/src/pages/Login.tsx
  client/src/pages/Main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ReviewCreate.tsx
  client/src/pages/SignUp.tsx
Labels: FE, feat, MyPage, Review

#195 [Fe] 프로그램 신청, 취소, 수정, 삭제에 관한 에러 핸들 수정
  client/public/index.html
  client/src/pages/MyPage.tsx
  client/src/pages/ProgCreate.tsx
  client/src/pages/ProgDetail.tsx
  client/src/pages/ReviewCreate.tsx
Labels: FE, [Program], 중요도 : 중, [Apply]

#196 [FE] chore: favicon, console 주석, login 수정
  client/public/favicon.ico
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/src/InitProvider.tsx
  client/src/components/CheckBox.tsx
  client/src/pages/Login.tsx
  client/src/stores/userInfoSlice.ts
Labels: FE

#197 [FE] chore: 글자길어지면 ...추가, Header 링크, Bookmark
  client/src/components/CheckBox.tsx
  client/src/components/Header.tsx
  client/src/components/Tab/BookMarkTab.tsx
  client/src/pages/Main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ProgDetail.tsx
Labels: FE

#199 [Fe] 프로그램 수정 및 삭제 유효성 검사 수정 과 페이징 처리 수정
  client/src/pages/Main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ProgDetail.tsx
  client/src/pagination/Pagination.tsx
Labels: [Program], 중요도 : 중, UX, Validation

#202 [FE] chore: 리뷰완료버튼 / 로그인 안하고 북마크,신청,메시지보내기 클릭시 로그인페이지로 이동 / 헤더 프로필박스 / 메인 카드
  client/src/components/Header.tsx
  client/src/pages/Main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ProgDetail.tsx
Labels: FE

#204 [BE] fix: fix the way of initializing targetEnumClass field in AbstractEnumAttributeConverter.java
  server/src/main/java/com/codestates/team5/dailyclub/common/enumeration/converter/AbstractEnumAttributeConverter.java
  server/src/main/java/com/codestates/team5/dailyclub/program/util/converter/LocationConverter.java
  server/src/main/java/com/codestates/team5/dailyclub/program/util/converter/ProgramStatusConverter.java
Labels: bug, BE, 중요도 : 상, hotfix, error

#209 [FE] feat: Closed Program '종료합니다' text instead of '신청하기'btn, chore: Image resizing, fix: SearchInput keyboard cursor sizes
  README.md
  client/src/components/Header.tsx
  client/src/pages/Main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ProgDetail.tsx
  client/src/pagination/Pagination.tsx
Labels: FE, feat, MyPage, Image, hotfix

#211 [FE] fix: user profile update & input css
  client/src/pages/Main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ProgCreate.tsx
  client/src/pages/ProgUpdate.tsx
Labels: UI, 중요도 : 상, MyPage, UX, Image, api

#214 [FE] 모집상태하이라이트, 필터조건 각각 초기화버튼, 친절도 설명박스
  client/src/components/AreaFilter.tsx
  client/src/components/KindGuide.tsx
  client/src/pages/Login.tsx
  client/src/pages/Main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ProgDetail.tsx
  client/src/stores/filterSlice.ts
  client/src/stores/store.ts
Labels: FE, feat

#215 [FE] fix: message Modal
  client/package-lock.json
  client/package.json
  client/src/components/MessageModal.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/ProgDetail.tsx
Labels: [Message], 중요도 : 하, UX

#216 [BE] feat: handle Notification Events
  server/src/main/java/com/codestates/team5/dailyclub/apply/service/ApplyService.java
  server/src/main/java/com/codestates/team5/dailyclub/config/SecurityConfig.java
  server/src/main/java/com/codestates/team5/dailyclub/jwt/TokenProvider.java
  server/src/main/java/com/codestates/team5/dailyclub/notification/controller/NotificationController.java
  server/src/main/java/com/codestates/team5/dailyclub/notification/dto/NotificationDto.java
  server/src/main/java/com/codestates/team5/dailyclub/notification/entity/Notification.java
  server/src/main/java/com/codestates/team5/dailyclub/notification/event/NotificationEvent.java
  server/src/main/java/com/codestates/team5/dailyclub/notification/event/NotificationEventListener.java
  server/src/main/java/com/codestates/team5/dailyclub/notification/event/NotificationEventPublisher.java
  server/src/main/java/com/codestates/team5/dailyclub/notification/mapper/NotificationMapper.java
  server/src/main/java/com/codestates/team5/dailyclub/notification/repository/NotificationRepository.java
  server/src/main/java/com/codestates/team5/dailyclub/notification/service/NotificationService.java
  server/src/main/java/com/codestates/team5/dailyclub/program/service/ProgramService.java
Labels: BE, feat, [Notification], 부가 기능, 중요도 : 중

#218 [FE] feat: notification
  client/src/components/Header.tsx
  client/src/utils/timeForToday.ts
Labels: [Notification], 중요도 : 중, api

#220 [FE] Header,Footer, Main, Login, SignUp responsive, public/index 수정, Layout 수정
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/components/Footer.tsx
  client/src/components/Header.tsx
  client/src/components/Layout.tsx
  client/src/components/OAuth/OauthGoogleBtn.tsx
  client/src/components/OAuth/OauthNaverBtn.tsx
  client/src/images/MenuBar.svg
  client/src/images/MenuBarClose.svg
  client/src/pages/Login.tsx
  client/src/pages/Main.tsx
  client/src/pages/SignUp.tsx
Labels: FE, UI, UX

#222 [FE] feat: responsive web Hero, Detail, Create, Update
  client/src/components/ApplyModal.tsx
  client/src/components/MessageModal.tsx
  client/src/pages/Hero.tsx
  client/src/pages/ProgCreate.tsx
  client/src/pages/ProgDetail.tsx
  client/src/pages/ProgUpdate.tsx
Labels: FE, UI, feat, 중요도 : 중

#223 [FE] feat: responsive mypage, reviewpage etc..
  client/src/pages/MyPage.tsx
  client/src/pages/ProgDetail.tsx
  client/src/pages/ReviewCreate.tsx
Labels: FE, UI, feat, 중요도 : 중, MyPage, Review
